services:
  db:
    container_name: postgres_food_explorer
    image: bitnami/postgresql
    ports:
      - 5432:5432
    environment:
      POSTGRES_DB: food-explorer
      POSTGRES_USER: docker
      POSTGRES_PASSWORD: docker
      PG_DATA: /data/postgres
    networks:
      - backend
    volumes:
      - ./data/pg:/data/postgres

networks:
  backend:
    driver: bridge

volumes:
  db_vol:
