services:
  db:
    container_name: postgres
    image: bitnami/postgresql
    environment:
      - POSTGRES_DATABASE=food-explorer
      - POSTGRES_USERNAME=docker
      - POSTGRES_PASSWORD=docker
    ports:
      - 5432:5432
    networks:
      - backend
    volumes:
      - db_vol:/var/lib/postgres/data

networks:
  backend:
    driver: bridge

volumes:
  db_vol:
